In [ ]:
from google.colab import drive # this mounts Google Drive to this notebook
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
%cd /content/gdrive/My\ Drive
!ls

/content/gdrive/My Drive
AVGVIS_SUN60m.tif
_GEOL557
GEOL557_Shared_Lunar_AVGVIS_SUN60_resample.ipynb
polar_south_80_summer_max.txt
polar_south_80_sw_max_diff.txt
polar_south_80_winter_min.txt
SPoleDEM10mCb.tif

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [ ]:
def read_data(datasetname):
  # read txt, create a dataframe
  datasetname = pd.read_csv(datasetname + '.txt', sep=',')
  return datasetname

def strip_whitespace(datdat):
  # strip whitespace in column name
  datdat.rename(columns=lambda x: x.strip(), inplace=True)
  datdat = datdat.rename(columns=lambda x: x.strip())
  return datdat

In [ ]:
arr=['polar_south_80_summer_max','polar_south_80_winter_min','polar_south_80_sw_max_diff'] #these are the same with .txt file names. we assign the dataframes by the same name.
for i in range(len(arr)):
  arr[i]=read_data(arr[i])
  arr[i]=strip_whitespace(arr[i])

In [ ]:
polar_south_80_summer_max.head()

          x         y      clon       clat        tbol
0 -0.006770  0.174908 -2.216503 -79.996484  236.619217
1 -0.006632  0.174908 -2.171312 -79.996784  184.231064
2 -0.006493  0.174908 -2.126118 -79.997079  278.650818
3 -0.006355  0.174908 -2.080922 -79.997367  241.225204
4 -0.006217  0.174908 -2.035723 -79.997649  288.323425

In [ ]:
polar_south_80_summer_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043426 entries, 0 to 5043425
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   x       float64
 1   y       float64
 2   clon    float64
 3   clat    float64
 4   tbol    float64
dtypes: float64(5)
memory usage: 192.4 MB

In [ ]:
polar_south_80_summer_max.describe()

                  x             y          clon          clat          tbol
count  5.043426e+06  5.043426e+06  5.043426e+06  5.043426e+06  5.043426e+06
mean   6.432853e-07 -2.453110e-07  4.542231e-02 -8.332376e+01  2.327942e+02
std    8.752537e-02  8.752556e-02  1.039229e+02  2.356805e+00  4.828128e+01
min   -1.749080e-01 -1.749080e-01 -1.799547e+02 -9.000000e+01  4.489028e+01
25%   -7.073700e-02 -7.073700e-02 -9.000000e+01 -8.498832e+01  2.175041e+02
50%    0.000000e+00 -0.000000e+00  4.556300e-02 -8.291693e+01  2.419048e+02
75%    7.073700e-02  7.073700e-02  9.004539e+01 -8.133064e+01  2.628466e+02
max    1.749080e-01  1.749080e-01  1.800000e+02 -7.999471e+01  4.389996e+02

In [ ]:
polar_south_80_winter_min.head()

          x         y      clon       clat       tbol
0 -0.006908  0.174908 -2.261691 -79.996177  63.289589
1 -0.006770  0.174908 -2.216503 -79.996484  74.312469
2 -0.006632  0.174908 -2.171312 -79.996784  67.112411
3 -0.006493  0.174908 -2.126118 -79.997079  63.632652
4 -0.006355  0.174908 -2.080922 -79.997367  71.600967

In [ ]:
polar_south_80_winter_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043383 entries, 0 to 5043382
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   x       float64
 1   y       float64
 2   clon    float64
 3   clat    float64
 4   tbol    float64
dtypes: float64(5)
memory usage: 192.4 MB

In [ ]:
polar_south_80_winter_min.describe()

                  x             y          clon          clat          tbol
count  5.043383e+06  5.043383e+06  5.043383e+06  5.043383e+06  5.043383e+06
mean   2.079140e-08 -6.695355e-07  4.540867e-02 -8.332379e+01  5.572158e+01
std    8.752483e-02  8.752536e-02  1.039231e+02  2.356795e+00  1.315201e+01
min   -1.749080e-01 -1.749080e-01 -1.799547e+02 -9.000000e+01  6.568587e+00
25%   -7.073700e-02 -7.073700e-02 -8.995465e+01 -8.498833e+01  4.612692e+01
50%    0.000000e+00 -0.000000e+00  4.540100e-02 -8.291699e+01  5.788851e+01
75%    7.073700e-02  7.073700e-02  9.004571e+01 -8.133066e+01  6.542851e+01
max    1.749080e-01  1.749080e-01  1.800000e+02 -7.999461e+01  2.858426e+02

In [ ]:
polar_south_80_sw_max_diff.head()

          x         y      clon       clat        tbol
0 -0.006770  0.174908 -2.216503 -79.996484  155.635345
1 -0.006632  0.174908 -2.171312 -79.996784  104.292503
2 -0.006493  0.174908 -2.126118 -79.997079  190.774017
3 -0.006355  0.174908 -2.080922 -79.997367  153.297531
4 -0.006217  0.174908 -2.035723 -79.997649  176.969238

In [ ]:
polar_south_80_sw_max_diff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043181 entries, 0 to 5043180
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   x       float64
 1   y       float64
 2   clon    float64
 3   clat    float64
 4   tbol    float64
dtypes: float64(5)
memory usage: 192.4 MB

In [ ]:
polar_south_80_sw_max_diff.describe()

                  x             y          clon          clat          tbol
count  5.043181e+06  5.043181e+06  5.043181e+06  5.043181e+06  5.043181e+06
mean   1.557128e-07 -7.770332e-07  4.538136e-02 -8.332392e+01  2.295297e+01
std    8.752312e-02  8.752356e-02  1.039232e+02  2.356748e+00  3.296587e+01
min   -1.749080e-01 -1.749080e-01 -1.799547e+02 -9.000000e+01 -3.516243e+02
25%   -7.073700e-02 -7.073700e-02 -9.000000e+01 -8.498855e+01  6.827057e+00
50%    0.000000e+00 -0.000000e+00  4.540100e-02 -8.291707e+01  1.235234e+01
75%    7.073700e-02  7.073700e-02  9.004573e+01 -8.133086e+01  2.228523e+01
max    1.749080e-01  1.749080e-01  1.800000e+02 -7.999499e+01  3.423568e+02